/yolov7-0.1/yolov7-0.1/weights/yolov7-e6.pt
/yolov7-0.1/yolov7-0.1/weights/yolov7-d6.pt
/yolov7-0.1/yolov7-0.1/weights/yolov7-e6e.pt
/yolov7-0.1/yolov7-0.1/weights/yolov7-w6.pt
/yolov7-0.1/yolov7-0.1/weights/yolov7x.pt
